.d-f {
       display: flex;
       align-items: center;
       justify-content: space-around;
}

.App .css-i4bv87-MuiSvgIcon-root {
       margin: auto;
       width: 100%;
       cursor: pointer;
}

p {
       margin: 5px 0;
}

.home{
       display: flex;
       text-decoration: none;
       margin: auto;
       width: 50px;
       color: black;
       font-weight: 600;
}